* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
  
  



/*ZONA DEL HEADER  */

/*Contenedor que almacena BOX PRIN Y BOX SEARCH*/

  

.contenedor-padre{
    display: flex;
    justify-content: space-between; /*Con este genero la separacion de los contenedores hijos */
    align-items: flex-start;
    margin-top: 0;


}

/*Caja donde esta el H1 y P principal con su respectivo logo  */
.box-prin{
    background-color: gray;
    margin: 1px 2px 3px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center; /*Con este centramos el contenido  */
    padding: 10px;
   
    }

    .title-h1{

        font-style: oblique;
        font-weight: 1000;
        font-size: 30px;
        color: black;
        padding: 5px;
        
    }

    .contenido-h1{
        font-style: oblique;
        font-weight: 200;
        padding: 5px;
        color: black;
        

    }

    .bi-pc-display {
        font-size: 50px; /* Hace el ícono más grande */
        color: black; /* Lo pone de color negro */
        
        

    }


    /* ESTILOS ENLACES RAPIDOS */
.box-enlaces{
    display: flex;
    flex-direction: column; /*Con esta linea acomodamos las demas cajas en columnas */
    background-color: black;
    gap: auto;
  
}

.box-secun{
display: flex;
flex-direction: column;
gap: 5px;


}

.sty-link{

    text-decoration: none;
    color: white;
}

.bi-envelope-at-fill{

    font-size: 20px;
    padding: 5px;
    color: white;
}



 /*FIN DE ESTILOS ENLACES RAPIDOS */




/*ESTILO DE LA BARRA DE BUSQUEDA */

.box-search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    
}



.box-search input[type="search"]{

    width: 1300px;
    margin-left: 150px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc
    
    
}

/*ICONO BOTON BUSCAR*/
.button-search{
    background-color: black;
    color: white;
    border: none;
    
}


/*ESTILOS DEL CARRITO */


.carrito{

    background-color: black;
    color: white;
    border: none;
    
    
}

/*Barra de estilo con la cual separamos */
.barrita{
   border: solid 2px red;
}




header{

    background-color: black;
}


/*ZONA FINAL DEL HEADER  */


/*ZONA INICAL DEL MAIN  */

.contenedor-main{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.contenedor-pm{

    display: flex;
    
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    

}

.contenerdor-1 {
    border: 2px solid black;      /* Borde negro de 2px */
    background-color: #f0f0f0;    /* Fondo gris claro */
    padding: 20px;                /* Espacio interno */
    border-radius: 10px;          /* (Opcional) Bordes redondeados */
    max-width: 800px;             /* (Opcional) Ancho máximo */
    margin: 30px auto;            /* Centrado horizontal con margen */
    box-sizing: border-box;
  }

 

.img1-tamaño{

  border-radius: 50px;
    border: 5px solid black;
    width: 500px;
    height: 500px;
    margin-left: 100px;
    
}







.boton-carrito{

    border: 3px solid red;
    border-radius: 10px;
    color: white;
    background-color: red;
    margin: 10px 10px 10px 400px;
}
  


/*SECCION FOOTER */

footer{

    background-color: black;
}

.footer-flex{

    display: flex;
    justify-content: space-between; /* Para separar esa caja al final */
    align-items: flex-start;
    
  
}

.fotnav-flex{

    text-decoration: none;
    margin-top: 170px;
}


.box-prin{

    display: flex;
    align-items: center;

    gap: 1rem;


}

.p-footer-1{

    color: white;
}





.copy-1{

    margin-top: 130px;
}

.margin{

  margin-top: 50px;
}

/*Carrucel  */

/*IMAGENES CARRUCEL */


