* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
  
  



/*ZONA DEL HEADER  */

/*Contenedor que almacena BOX PRIN Y BOX SEARCH*/

  

.contenedor-padre{
    display: flex;
    justify-content: space-between; /*Con este genero la separacion de los contenedores hijos */
    align-items: flex-start;
    margin-top: 0;


}

/*Caja donde esta el H1 y P principal con su respectivo logo  */
.box-prin{
    background-color: gray;
    margin: 1px 2px 3px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center; /*Con este centramos el contenido  */
    padding: 10px;
   
    }

    .title-h1{

        font-style: oblique;
        font-weight: 1000;
        font-size: 30px;
        color: black;
        padding: 5px;
        
    }

    .contenido-h1{
        font-style: oblique;
        font-weight: 200;
        padding: 5px;
        color: black;
        

    }

    .bi-pc-display {
        font-size: 50px; /* Hace el ícono más grande */
        color: black; /* Lo pone de color negro */
        
        

    }


    /* ESTILOS ENLACES RAPIDOS */
.box-enlaces{
    display: flex;
    flex-direction: column; /*Con esta linea acomodamos las demas cajas en columnas */
    background-color: black;
    gap: auto;
  
}

.box-secun{
display: flex;
flex-direction: column;
gap: 5px;


}

.sty-link{

    text-decoration: none;
    color: white;
}

.bi-envelope-at-fill{

    font-size: 20px;
    padding: 5px;
    color: white;
}



 /*FIN DE ESTILOS ENLACES RAPIDOS */




/*ESTILO DE LA BARRA DE BUSQUEDA */

.box-search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    
}



.box-search input[type="search"]{

    width: 1300px;
    margin-left: 150px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc
    
    
}

/*ICONO BOTON BUSCAR*/
.button-search{
    background-color: black;
    color: white;
    border: none;
    
}


/*ESTILOS DEL CARRITO */


.carrito{

    background-color: black;
    color: white;
    border: none;
    
    
}

/*Barra de estilo con la cual separamos */
.barrita{
   border: solid 5px red;
  background: black;
   
  
}




header{

    background-color: black;
}


/*ZONA FINAL DEL HEADER  */


/*ZONA INICAL DEL MAIN  */




.contenedor-main{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}




/*ZONA DE LA TABLA  */

.table1{
    width: 80%;
}


.contenedor-pm{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    
 
    

}


   
    .contenedor-2,.contenedor-3,.contenedor-4{

        flex: 1 1 300px; /*LO AJUSTA AL ANCHO MINIMO */
        box-sizing: border-box;
        margin-left: 150px;
    }

  

    .contenedor-pm {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
        gap: 24px;
        padding: 20px;
      }

      .tarjeta{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        background-color: #2c2c2c;
        color: white;
      }



      .img-tarjeta{

        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 15px;
      }

      .titulos-pc{
        font-size: 22px;
        margin: 10px 0;
      }

      .contenido-pc{

        font-size: 14px;
        margin-bottom: 10px;
      }

      .lista-caracteristicas{

        list-style: disc;
        padding-left: 20px;
        margin: 10px 0;
        text-align: left;
      }

      .precio{

        font-family: 18px;
        color: #00ff88;
        margin: 10px 0;
      }
     
    
      
  
 

.img1-tamaño{

  border-radius: 50px;
    border: 5px solid black;
    width: 500px;
    height: 500px;
    margin-left: 100px;
    
}



.boton-carrito{
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: bacground 0.3s;


}



/*
.boton-carrito{

    border: 3px solid red;
    border-radius: 10px;
    color: white;
    background-color: red;
    margin: 10px 10px 10px 400px;
}
  
*/

/*SECCION FOOTER */

footer{

    background-color: black;
}

.footer-flex{

    display: flex;
    justify-content: space-between; /* Para separar esa caja al final */
    align-items: flex-start;
    
  
}

.fotnav-flex{

    text-decoration: none;
    margin-top: 170px;
}


.box-prin{

    display: flex;
    align-items: center;

    gap: 1rem;


}

.p-footer-1{

    color: white;
}





.copy-1{

    margin-top: 130px;
}

.margin{

  margin-top: 50px;
}




/*SECCION DEL CARRUCEL */


/*Esta parte borrar por si acaso*/

.carrusel-componentes{

  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
 
  width: 100%;
  align-items: center;
  background-color: rgb(49, 49, 49);
}

.h-bordes{

  margin: 0;
  padding: 0;
  text-decoration: none;
}

.carrusel-p{

  width: 100%;
  margin: 0px 0px;

}

@media(min-width: 768px){

.carrusel-p{

  margin: 0px 60px
}

}

.carrusel-p h2{

  font-size: 45px;
  line-height: 38px;
  padding-bottom: 50px;
  opacity: .9;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.carrusel-list{

  position: relative;
  display: flex;
  align-items: center;
  width:fit-content;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;

}

.carrusel-track{

  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: .5s ease-in-out;
}

.carrusel{

  position: relative;
  width: 210px;
  padding: 0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.carrusel h4{

  position: absolute;
  z-index: 1;
  font-size: 22px;
  line-height: 23px;
  color: #ffffff;
  padding: 15px;
}

.carrusel h4 small{

  font-size: 15px;
  display: block;

}

.carrusel a img{

  object-fit: cover;
  height: 300px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0,5);
  transition: .3s ease-in-out;

}

@media(min-width:768px) {
 .carrusel{

  width: 275px;
 } 

 .carrusel a img{

  width: 250px;
 }

}

.carrusel-arrow{

  border-radius: 30px;
  background-color: #ffffff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.carrusel-arrow:focus{

  outline: 0;
}

.carrusel-arrow svg{
  width: 12px;
  height: 100%;
  color: rgba(0, 0, 0, 7);
}

.carrusel-prev{

  left: 0px;

}

.carrusel-next{

  right: 0px;
}



/*SECCION DEL FORMULARIO  */
.main-login{
    background-color: black;
}

.forms-container {
    display: flex;
    justify-content: space-between; /* Espaciado entre los formularios */
    gap: 20px; /* Espacio entre los formularios */
    background-color: black;
  }

    .form1 {
        background: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 45%;  /* Para que no ocupe toda la pantalla */
        text-align: center;
        background-color: black;
      }

      .form2{
        background: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 45%;  /* Para que no ocupe toda la pantalla */
        text-align: center;
        background-color: black;

      }
    
      .form1, .form2{

        padding: 30px;
        border-radius: 8px;
        width: 100%;
        max-width: 45%;
        text-align: center;
       
      }
      
      
      .form .subform input{
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: 2px solid black;
        border-radius: 20px;
        font-size: 16px;
      }

      .subtitle {
        text-align: center; 
        margin-top: 50px; 
        margin-bottom: 40px; 
        color: white;
      }
      
      .subtitle h2 {
        font-size: 2.5rem;
        color: white; 
        font-weight: bold; 
        margin-bottom: 10px; 
      }
      
      .subtitle h3 {
        font-size: 1.5rem; 
        color: white; 
        font-weight: 500; 
        margin-top: 0; 
      }
      

.subform {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
    
   

  .subform a {
    font-size: 14px;
    color: #ff0000;
    
  }

  .input-tex{

    color: white;
  }

.btn-f{
background-color: blue;
color: white;
padding: 10px 15px;
font-size: 18px;
border-radius: 10px;
border: none;

}

.btn-em{
    background-color: cadetblue;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 10px;
    border: none;

}


/*Seccion del formulario  */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body-contactanos{

  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
}

.main-contactanos{

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: gray;
}

.form-contactanos{

  background-color: #fefefe;
  padding: 40px 35px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 420px;
  text-align: center;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.input-group {

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.h2-contactame{

  color: #444;
  font-size: 30px;
  margin-bottom: 25px;
  
}

.label-contactame{

  color: #283629;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  text-align: left;
  
  
}

.input-contactame, .textarea-contactame{

  padding: 13px 18px;
  border: 1.5px solid #333;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #edfff0;
  font-size: 15px;
  border: 2px solid black;
  color: black;
  outline: none;
}

.input-contactame::placeholder, .textarea-contactame::placeholder{

  color: #aaa;
 

}

.form-txt{

  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

.form-txt a{
  color: black;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.btn {

  font-size: 16px;
  color: #2c2c2c;
  border: 0;
  border-radius: 25px;
  background-color: #51d94c;
  box-shadow: 0 0 20px rgb(25, 254, 0, 0.4);
  cursor: pointer;
  
}

.btn.btn:hover{
  background-color: #51d94c;
}

@media   ( max-width:  991px) { 
  
 .body-contactanos{

  padding: 30px;
 }

 .form-contactanos{

  padding: 30px 50px;
  width: 100%;
 }

 .input-contactame{
  padding: 15px;
 }

   
  
};




